<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejercicio 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ejercicio 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="alfredo" src="https://static.wikia.nocookie.net/00de684b-59c2-4608-aaf4-91537fb72d31/scale-to-width/755" alt="alfredo y sus noches">
  <p> Adentrate a esta aventura emocionante con Eduardo y sus 5 noches, te aseguro que no te vas a arrepentir, esta es una oportunidad unica en tu vida</p>
</ion-content>
