<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejercicio 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ejercicio 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="a">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          C O L U M N A 1
        </ion-card>
      </ion-col>
      <ion-col class="a" size="12" size-md="6" size-lg="4">
        <ion-card>
          C O L U M N A 2
        </ion-card>
      </ion-col>
      <ion-col class="a" size="12" size-md="6" size-lg="4">
        <ion-card>
          C O L U M N A 3
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>